<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="com.nopCommerceapplication.utility.Listener" />
	</listeners>
	<test  name="Test">
		
			<parameter name="browser" value="chrome"/>
		
		<classes>			
				<class name="com.nopCommerceapplication.testcases.Logintest"/> 
                <class name="com.nopCommerceapplication.testcases.DDLogintest"/> 
				<class name="com.nopCommerceapplication.testcases.checkingorderstest"/>
                <class name="com.nopCommerceapplication.testcases.Addcustomertest"/>				
		</classes>
	</test>
	<!-- Test -->
</suite> <!-- Suite -->
